.breadcrumb{
    display:inline!important;
    background-color: #334A66!important;
}

.nav-wrapper{
    background-color: #334A66!important;
    margin-top: 5%!important;
}

.select{
    margin-top: 10%!important;
}

.btn{
    background-color: #334A66!important;
}