<menu-inicial></menu-inicial>

<div class="row">
    <div class="card content">
        <div class="card-content white-text conteudo-texto">
            <span class="card-title titulo">Conheça os nossos tipos de investimentos</span>
            <p class="subtitulo">Ajudaremos você a investir de acordo com o seu perfil</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col m6" *ngFor="let investimento of investimentos">
        <investimento [nome]="investimento?.nome" [descricao]="investimento?.descricao"></investimento>
    </div>
</div>