<menu-inicial></menu-inicial>

<div class="row container box-primeiros-passos">
    <div class="col m6">
        <ul class="collapsible">
            <li>
                <div class="collapsible-header"><img src="img/one.png"><label class="label-box-passos">Saiba o que é investimento </label></div>
                <div class="collapsible-body passos-box">
                    <ul class="collapsible">
                        <li>
                            <div class="collapsible-header">O que é investimento?</div>
                            <div class="collapsible-body"><span>Investimentos, planejamento financeiro, finanças. Essas palavras podem parecer assustadoras para quem não tem contato com o universo do mercado financeiro. É comum achar que esses conceitos são complexos, exigem conhecimento profundo em matemática ou são restritos apenas a profissionais especializados.
                                    Investimento, na verdade, é qualquer gasto ou aplicação de recursos que produza a expectativa de um retorno futuro</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header">Por que investir?</div>
                            <div class="collapsible-body"><span>A principal razão de “por que investir” é ter no dinheiro um aliado na construção de patrimônio e no alcance de objetivos ao longo do tempo.Faça o seu dinheiro trabalhar para você!</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header">Qualquer um pode investir?</div>
                            <div class="collapsible-body"><span>Todo mundo pode investir, desde que tenha mais que 18 anos, mas é importante que seja feito da forma correta, para isto, estamos aqui para te ajudar!</span></div>
                        </li>
                     </ul>
                </div>
            </li>
        </ul>
    </div>
    <div class="col m6">
        <ul class="collapsible">
            <li>
                <div class="collapsible-header"><img src="img/two.png"><label class="label-box-passos"> Como investir?</label> </div>
                <div class="collapsible-body passos-box">
                    <ul class="collapsible">
                        <li>
                            <div class="collapsible-header">Tipos de investimentos</div>
                            <div class="collapsible-body">
                                <div class="collection">
                                    <a [routerLink]="['/investimento', 'tesouro-direto']" class="collection-item">Tesouro prefixado</a>
                                    <a [routerLink]="['/investimento', 'tesouro-selic']" class="collection-item">Tesouro SELIC</a>
                                    <a [routerLink]="['/investimento', 'tesouro-ipca']" class="collection-item">Tesouro IPCA+</a>
                                    <a [routerLink]="['/investimento', 'cdb']" class="collection-item">CDB</a>
                                    <a [routerLink]="['/investimento', 'lc']" class="collection-item">LC</a>
                                    <a [routerLink]="['/investimento', 'lci']" class="collection-item">LCI</a>
                                    <a [routerLink]="['/investimento', 'lca']" class="collection-item">LCA</a>
                                    <a [routerLink]="['/investimento', 'mercado-acoes']" class="collection-item">Mercado de Ações</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">Quais são os custos?</div>
                            <div class="collapsible-body"><span>Muitos dos investimentos não geram nenhum custo, para saber de mais detalhes<a [routerLink]="['/investimentos']"> clique aqui</a></span></div>
                        </li>
                        <li>
                            <div class="collapsible-header">Quais são os riscos?</div>
                            <div class="collapsible-body"><span>Os riscos variam de acordo com o investimeno realizado, quanto maior o risco maior a possibilidade de retorno poré podem existir perdas. Para saber mais<a [routerLink]="['/investimentos']"> clique aqui</a></span></div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="row container">
    <div class="col m6">
        <ul class="collapsible">
            <li>
                <div class="collapsible-header"><img src="img/three.png"><label class="label-box-passos"> Se cadastre</label></div>
                <div class="collapsible-body"><span>Se cadastre no nosso site, é gratuito e poderemos te ajudar durante todo o processo! <a [routerLink]="['/cadastro-de-usuario']"> Clique aqui para se cadastrar</a></span></div>
            </li>
        </ul>
    </div>
    <div class="col m6">
        <ul class="collapsible">
            <li>
                <div class="collapsible-header"><img src="img/four.png"><label class="label-box-passos"> Invista sem complicações </label></div>
                <div class="collapsible-body"><span>Te guiaremos e ajudaremos a investir sem nenhuma complicação e de acordo com o seu perfil!</span></div>
            </li>
        </ul>
    </div>
</div>