<div class="row">
    <div class="col s12 m3">
      <div class="card white card-bolsa">
        <div class="card-content">
          <span class="card-title">TESOURO SELIC</span>
          <p>Porta de entrada do mundo dos investimentos. Possui modalidades  prefixadas e pós-fixadas. Ideal para quem quer começar.</p>
        </div>
        <div class="card-action">
          <a href="#" [routerLink]="['/investimento', 'tesouro-selic']" class="card-link">Ver detalhes</a>
        </div>
      </div>
    </div>

    <div class="col s12 m3">
        <div class="card white card-bolsa">
            <div class="card-content">
            <span class="card-title">CDB</span>
            <p>PCDB é um investimento em Renda Fixa com boa rentabilidade e muitas opções de prazo de resgate para sua estratégia de investimento.</p>
            </div>
            <div class="card-action">
                <a href="#" [routerLink]="['/investimento', 'cdb']" class="card-link">Ver detalhes</a>
            </div>
        </div>
     </div>

      <div class="col s12 m3">
        <div class="card white card-bolsa">
            <div class="card-content">
            <span class="card-title">IPCA</span>
            <p>É uma família de títulos de renda fixa que paga um juro anual acrescido da variação da inflação oficial do país.Com ele você tem  a certeza do rendimento real</p>
            </div>
            <div class="card-action">
                <a href="#" [routerLink]="['/investimento', 'tesouro-ipca']" class="card-link">Ver detalhes</a>
            </div>
        </div>
       </div>

      <div class="col s12 m3">
        <div class="card white card-bolsa">
        <div class="card-content">
            <span class="card-title">AÇÕES</span>
            <p>Ações são os investimentos mais famosos do mercado financeiro, são títulos que representam um pedaço de uma empresa. São mais simples do que parecem.</p>
        </div>
        <div class="card-action">
            <a href="#" [routerLink]="['/investimento', 'mercado-acoes']" class="card-link">Ver detalhes</a>
        </div>
        </div>
    </div>
  </div>