.card{
    background-color: #334A66!important;
}

.link-card{
    color: #A9881C!important;
}

.content{
    height: 20em;
    margin-top: 0!important;
    width: 100%;
    background-color: #334A66;
}

.titulo{
    font-size: 32px!important;
    margin-left: 40%;
}

.subtitulo{
    font-size: 18px!important;
    margin-left: 10%!important;
}

.conteudo-texto{
    margin-top: 7%!important;
}