<menu-inicial></menu-inicial>

<div class="row">
      <ul class="tabs">
        <li class="tab colunas"><a class="active" href="#simulacao" (click)="SelecionaInvestimento('prefixado', false)">Tesouro Prefixado</a></li>
        <li class="tab colunas"><a href="#simulacao" (click)="SelecionaInvestimento('direto', false)">Tesouro Selic</a></li>
        <li class="tab colunas"><a href="#simulacao" (click)="SelecionaInvestimento('ipca', false)">Tesouro IPCA+</a></li>
        <li class="tab colunas"><a href="#simulacao" (click)="SelecionaInvestimento('cdb_lc', false)">CDB e LC</a></li>
        <li class="tab colunas"><a href="#simulacao" (click)="SelecionaInvestimento('lci_lca', false)">LCI e LCA</a></li>
      </ul>

    <div id="simulacao" class="col s12 container box active">
        <div class="container col s6">
            <h5 >Valor de investimento</h5>
            <div class="row box_row">
                <h4 class="meses">R$</h4>
                <div class="input-field col s12">
                    <input id="first_name" type="text" class="validate" [(ngModel)]="valor" >
                    <label for="first_name">Valor inicial</label>
                </div>
            </div>
            <div>
                <form action="#">
                    <h5>Tempo de Investimento</h5>
                    <h3 class="meses">{{labelMeses}} Meses</h3>
                    <p class="range-field">
                        <input type="range" id="range_input" min="0" max="360"  (change)="updateTextInput($event)"/>
                    </p>
                </form>     
            </div>
        </div>    
        <div class="container container-resultados col s4">
            <h5>Total investido</h5>
            <h6 class="meses">R$ {{investido| number:'.2-2'}}</h6>
            <h5>Resultado do investimento</h5>
            <h6 class="meses">R$ {{resultado| number:'.2-2'}}</h6>
            <h5>Rendimento total</h5>
            <h6 class="meses">R$ {{rendimento| number:'.2-2'}}</h6>
        </div>   
    </div>
</div>